.body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.navbar {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    padding: 38px;
}

.leftnav {
    display: flex;
}

.nav>.leftnav>div {
    margin-right: 20px;
    font-size: 0.9em;
    justify-content: space-between;
    text-transform: uppercase;
}

.navlink {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navlink a {
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.5s;
}

.navlink:hover {
    border-bottom: 1px solid black;
}

.navlink a:hover {
    color: black;
}

.imggrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.et1 {
    text-transform: uppercase;
    text-decoration: solid;
    border-radius: 8px;
    width: 1500;
    height: 700;
    background-color: whitesmoke;
    color: green;
    border: 2px solid gray;
    transition: 0.5s;
}

.et1:hover {
    background-color: red;
    color: white;
}

.et2 {
    text-transform: uppercase;
    text-decoration: solid;
    border-radius: 8px;
    width: 1500;
    height: 700;
    background-color: whitesmoke;
    color: green;
    border: 2px solid gray;
    transition: 0.5s;
}

.et2:hover {
    background-color: red;
    color: white;
}

.et3 {
    text-transform: uppercase;
    text-decoration: solid;
    border-radius: 8px;
    width: 1500;
    height: 700;
    background-color: whitesmoke;
    color: red;
    border: 2px solid gray;
    transition: 0.5s;
}

.et3:hover {
    background-color: red;
    color: white;
}

.et4 {
    text-transform: uppercase;
    text-decoration: solid;
    border-radius: 8px;
    width: 1500;
    height: 700;
    background-color: whitesmoke;
    color: green;
    border: 2px solid gray;
    transition: 0.5s;
}

.et4:hover {
    background-color: green;
    color: white;
}

.et5 {
    text-transform: uppercase;
    text-decoration: solid;
    border-radius: 8px;
    width: 1500;
    height: 700;
    background-color: whitesmoke;
    color: green;
    border: 2px solid gray;
    transition: 0.5s;
}

.et5:hover {
    background-color: green;
    color: white;
}

.et6 {
    text-transform: uppercase;
    text-decoration: solid;
    border-radius: 8px;
    width: 1500;
    height: 700;
    background-color: whitesmoke;
    color: green;
    border: 2px solid gray;
    transition: 0.5s;
}

.et6:hover {
    background-color: green;
    color: white;
}